@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media

--------------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	color: #432920;
	font: 400 14px 'Montserrat', sans-serif;
}


/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
/* 1.1 - Headings */

h2, h3 {
	text-transform: uppercase;
}

h2, #hours h3 {
	font-weight: 500;
}

h2 {
	font-size: 28px;
	margin-top: 0;
}

#about-us h2, #hours h2, h4 {
	color: #7bcfc0;
}

#about-us h2, #hours h2 {
	margin-top: 0;
}

h3 {
	font: 20px 'Alice';
	color: #432920;
	margin-bottom: 14px;
}

/* 1.2 - Body Copy */

#about-us p {
	line-height: 26px;
}

/* 1.3 - Buttons */

#about-us p:last-of-type a, #about-us p:nth-of-type(3) a, #our-treats section p:last-child a, form p a {
	text-decoration: none;
}

#about-us p:last-of-type a, form p a {
	padding: 15px 20px;
}

#about-us p:last-of-type a {
	background-color: #c92720;
}

#about-us p:last-of-type a:hover {
	background-color: #7bcfc0;
}

#home-image a:hover, a[href="tel:+18005551212"]:hover {
	color: #7bcfc0;
}

#about-us p:nth-of-type(3) a {
	font-weight: 600;
}

#our-treats section p:last-child a, form p a {
	color: #c92720;
}

#our-treats section p:last-child a {
	padding: 15px 25px;
}

#our-treats section p:last-child a:hover, form p a:hover, #about-us p:last-of-type a {
	color: #fff;
}

#our-treats section p:last-child a:hover, form p a:hover {
	background-color: #9ae5d7;
}

form p a, #our-treats section p:last-child a {
	background-color: #fff;
}


/* 1.4 - Forms */
#fieldset-left legend {
	display: none;
}

legend, label, input {
	text-align: left;
}

#fieldset-left label, legend, form p {
	text-transform: uppercase;
}

form {
	font: 500 12px 'Open Sans', sans-serif;
	text-align: center;
	margin: 0 98px;
}

input[type="text"] {
	padding: 5px 10px;
}

label, input {
	display: block;
}

form p {
	margin: 108px 0 0 276px;
}

/* 1.5 - Lists */

#hours ul {
	list-style-image: url(../img/cherry-icon.jpg);
	padding-left: 20px;
}

#signature {
	display: inline-block;
	padding-right: 12px;
}

#daily-flavors h3 {
	color: #7bcfc0;
}


/* 1.6 - Tables */

table {
	width: 606px;
	border-collapse: collapse;
	margin: 32px 0 50px 230px;
}

caption span {
	font: 700 20px 'Alice';
	background-color: #fff;
	padding: 8px 23px;
}

caption span, th {
	text-transform: uppercase;
}

caption, thead, tbody {
	text-align: center;
}

caption {
	padding: 20px 235px;
}

th {
	padding: 10px 45px;
}

tbody tr td:first-child, td:last-of-type {
	text-align: left;
}

tbody tr:nth-child(odd), caption {
	background-color: #c7ebe4;
}

tbody tr:nth-child(even), th {
	background-color: #fff;
}

td {
	padding: 10px 45px;
}

thead tr th:first-child {
	padding-left: 211px;
}

span, tr td:first-child, th {
	font-weight: 500;
}



/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
/* 2.1 - Main */
nav {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #432920;
}

nav li {
	display: inline-block;
	padding-right: 46px;
	vertical-align: middle;
}

nav li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

nav li a:hover {
	color: #7bcfc0;
	
}

/* 2.2 - Sub */
/* 2.3 - Footer */

	
/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */
/* 3.1 - Site Structure */

.wrapper {
	width: 1070px;
	margin: 0 auto;
}

h4 {
	margin: 54px 0 14px;
}

#about-us p:last-of-type {
	margin-top: 42px;
}

#our-treats h2, #daily-flavors h2, #place-order h2, #about p:first-child, #place-order p:first-of-type, #our-treats p:first-of-type, #our-treats section {
	text-align: center;
}

#daily-flavors h2 {
	padding-bottom: 52px;
	margin-bottom: 0;
}

#about p:first-child {
	font: 20px/34px 'Alice';
	color: #432920;
	margin-bottom: 129px;
}

#about {
	padding: 103px 0 91px;
}

#about-us {
	width: 570px;
	margin-left: 29px;
}

#our-treats {
	padding: 113px 0;
}

#our-treats section:first-of-type p:last-child, #our-treats section:last-of-type p:last-child {
	margin-top: 67px;
}

#our-treats section:nth-last-of-type(2) p:last-child {
	margin-top: 38px;
}

#our-treats section p:last-child, #about p:first-child {
	text-transform: uppercase;
}

#daily-flavors {
	padding: 138px 0 118px;
}


#daily-flavors section {
	width: 267px;
	padding-right: 29px;
}

#place-order {
	padding: 130px 0;
}


#treats-row {
	padding: 10px 0;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

#fieldset-left input {
	height: 47px;
}

#fieldset-left input, #fieldset-left label, textarea {
	width: 419px;	
}

label {
	margin-top: 20px;
}

#fieldset-right input {
	display: inline;
}

#fieldset-right {
	width: 427px;
	margin-left: 28px;
}

#fieldset-left label:first-of-type {
	margin-top: 0;
}

#fieldset-right input {
	padding-right: 0;
}

#occasion select {
	width: 359px;
}

#quantity {
	margin: 28px 0 46px;
}

#flavor {
	margin-bottom: 59px
}

#dropdown {
	width: 427px;
	height: 47px;
	margin-top: 15px;
}

#fieldset-left label, legend {
	margin-bottom: 15px;
}

#fieldset-right legend, #quantity label {
	margin-bottom: 0;
}

textarea {
	height: 183px;
}

#quantity label {
	margin-right: 52px;
}

.flavor-section label:first-child {
	margin-right: 24px;
}

#signature-type, #allergen-free-type, #vegan-type {
	margin-right: 59px;
}

.circle {
	margin-left: 50px;
}				

#our-treats section {
	width: 285px;
}

#our-treats section:nth-child(2) {
	margin-left: 113px;
}

#our-treats p:first-of-type {
	color: #fff;
	line-height: 28px;
}

/* 3.2	- Site Header */
.row {
	overflow: auto;
}

#home {
	padding: 18px 0 50px;
}

#home-image p {
	margin-top: 89px;
}

#home-image a {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 24px 50px;
	font: 34px 'Alice';
	color: #d02120;
	text-transform: uppercase;
	text-decoration: none;
}

/* 3.3	- Site Footer */
footer {
	padding-bottom: 36px;
}

footer p {
	color: #fff;
}

footer section:first-of-type {
	width: 270px;
	margin-right: 129px;
}

footer section:nth-of-type(2) {
	width: 142px;
}

footer section:last-child {
	margin-right: 71px;
}

/*--------------------------------------------------------------
4.0 - Utility
-------------------------------------------------------------- */

/* 4.1	- Color */
.bg-blue {
	background-color: #7bcfc0;
}

.bg-brown {
	background-color: #432920;
}

/*--------------------------------------------------------------
5.0 - MEDIA
-------------------------------------------------------------- */

div#home-image {
	background-image: url(../img/heart-cupcake.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	height: 407px; 
	background-position: center;
	padding: 221px 99px 0 0;
	margin: 50px 99px;
}						

#treats-row section:first-of-type div, #treats-row section:nth-of-type(2) div, #treats-row section:last-of-type div {
	-webkit-background-size: 100px;
	-moz-background-size: 100px;
	-o-background-size: 100px;
	-ms-background-size: 100px;
	background-size: 100px;
	width: 180px; 
	height: 180px;  
	-moz-border-radius: 90px; 
	-webkit-border-radius: 90px; 
	-ms-border-radius: 90px;
	-os-border-radius: 90px;
	border-radius: 90px; 
	background-color: #fff;
}

#treats-row section:first-of-type div {
	background: #fff url(../img/cupcake-lemon.png) no-repeat scroll center;
}

#treats-row section:nth-of-type(2) div {
	background: #fff url(../img/cupcake-chocolate.png) no-repeat scroll center;
}

#treats-row section:last-of-type div {
	background: #fff url(../img/cupcake-vanilla.png) no-repeat scroll center;
}

footer ul {
	list-style: none;
	padding-left: 0;
}

footer li {
	padding-right: 30px;
}

footer ul span {
	display: none;
}

footer ul a, footer ul li {
	display: inline-block;
}

footer ul li a {
	width: 20px;
	height: 20px;
}

footer ul li:first-child a {
	background: url(../img/sprite-fb.png) no-repeat 0 0;
}

footer ul li:nth-child(2) a {
	background: url(../img/sprite-tumblr.png);
}

footer ul li:nth-child(3) a {
	background: url(../img/sprite-pinterest.png);
}

footer ul li:nth-child(4) a {
	background: url(../img/sprite-linked-in.png);
}

footer ul li:last-child a {
	background: url(../img/sprite-rss.png);
}

footer ul li a:hover {
	background-position: 0 -20px;
}




/*--------------------------------------------------------------
6.0 - FLOATS
-------------------------------------------------------------- */
/* 6.1	- Float Left */

.f-l {
	float: left;
}

#about img {
	float: left;
}


/* 6.2	- Float Right */

.f-r {
	float: right;
}









