@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media

--------------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font: 31px 'Open Sans', sans-serif;
	color: #404040;
}

* {
	font: 400 14px 'Montserrat', sans-serif;
}



/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
/* 1.1 - Headings */
/* 1.2 - Body Copy */
/* 1.3 - Buttons */
/* 1.4 - Forms */
/* 1.5 - Lists */
/* 1.6 - Tables */


/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
/* 2.1 - Main */
nav {
	text-align: center;
}

nav li {
	display: inline-block;
	padding-right: 46px;
	vertical-align: middle;
}

nav li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

nav li a:hover {
	color: #7bcfc0;
	
}

/* 2.2 - Sub */
/* 2.3 - Footer */

	
/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */
/* 3.1 - Site Structure */

.wrapper {
	width: 1070px;
	margin: 0 auto;
}


/* 3.2	- Site Header */
#home {
	padding: 18px 0 50px;
}


/* 3.3	- Site Footer */

/*--------------------------------------------------------------
4.0 - Utility
-------------------------------------------------------------- */

/* 4.1	- Color */
.bg-blue {
	background-color: #7bcfc0;
}

.bg-brown {
	background-color: #432920;
}

/*--------------------------------------------------------------
5.0 - MEDIA
-------------------------------------------------------------- */

#home-image {
	background-image: url(../img/heart-cupcake.jpg);
	background-repeat: no-repeat;
	height: 407px;
	background-attachment: scroll;
	background-position: top center; 
	text-align: center;
	background-size: auto;
	
}















